* {
  margin: 0;
}

html {
  overflow-x: hidden;
  background: url("/static/ilex.gif") no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

#header {
  display: flex;
  position: absolute;
  z-index: 2;
  margin: 15px 0;
  top: 0;
  left: 0;
  width: 100vw;
}

#icon {
  width: 150px;
  height: 110px;
  transform: translateY(-15px);
}

#nav-bar ul {
  display: flex;
  font-size: 1.2rem;
  height: 70px;
  gap: 1rem;
  right: 30px;
  align-items: center;
  position: absolute;
}

#nav-bar li {
  list-style: none;
}

#nav-pic {
  height: 80px;
  width: 80px;
}

#nav-pic:hover {
  animation: shake 0.2s infinite;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(2px) rotate(2deg);
  }

  80% {
    transform: translateX(4px) rotate(4deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.pop-up {
  position: relative;
  display: inline-block;
}

.pop-up .pop-uptext {
  visibility: hidden;
  width: 135%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5.5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  transform: translate(-89%, 85px);
}

.pop-uptext {
  font-family: "Press Start 2P";
  font-size: 0.8rem;
}

.pop-up:hover .pop-uptext {
  visibility: visible;
}

#back {
  height: 80px;
  width: 90px;
  padding: 10px 20px;
}

#title {
  height: 130px;
  width: 780px;
  transform: translateX(8px);
  transform: translateY(-50px);
}

.title {
   	animation: pulse 1.5s linear infinite;
}

@-webkit-keyframes "pulse" {
0% {
    transform: scale(1);
}
25% {
    transform: scale(0.95);
}
50% {
   transform: scale(0.90);
}
75% {
    transform: scale(0.95);
}
100% {
   transform: scale(1);
}
}

.profile_container {
  transform: translateY(8%);
}

.profile {
  display: flex;
  height: 300px;
  width: 100vw;
  border: solid black 1.5px;
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  font-size: 1.3rem;
}

.picture {
  display: flex;
  width: 450px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#pic {
  width: 250px;
  height: 250px;
}

.info {
  margin: auto 0;
  font-family: "Press Start 2P";
}

#charl {
  background: url("/static/deepsea.png") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
}

#alexie {
  background: url("/static/scorched.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

#aleckxis {
  background: url("/static/forest.png") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
}

#lailanie {
  background: url("/static/ice.png") no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}

#lianna {
  background: url("/static/pond.png") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
}

#cate {
  background: url("/static/waterfall.png") no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
}

a {
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

a:hover {
  color: red;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}