* {
 margin: 0;
}

html {
  overflow: hidden;
}

#header {
  display: flex;
  position: absolute;
  z-index: 2;
  margin: 15px 0;
  top: 0;
  left: 0;
  width: 100vw;
}

#nav-bar ul {
  display: flex;
  font-size: 1.2rem;
  height: 70px;
  gap: 1rem;
  align-items: center;
  position: fixed;
}

#nav-bar li {
  list-style: none;
}

#nav-pic {
  height: 80px;
  width: 80px;
}

#nav-pic:hover {
  animation: shake 0.2s infinite;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(2px) rotate(2deg);
  }

  80% {
    transform: translateX(4px) rotate(4deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.pop-up {
  position: relative;
  display: inline-block;
}

.pop-up .pop-uptext {
  visibility: hidden;
  width: 135%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5.5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 3;
  transform: translate(-89%, 85px);
}

.pop-uptext {
  font-family: "Press Start 2P";
  font-size: 0.8rem;
}

.pop-up:hover .pop-uptext {
  visibility: visible;
}

#content {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: url("/static/beach.gif") no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

#top {
  display: flex;
  height: 21vh;
  width: 100vw;
  background: url("/static/wave.gi") no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  justify-content: center;
  align-items: center;
}

#left {
  height: 19vh;
  margin-left: 200px;
}

#title {
  margin: auto;
  width: 60%;
  height: 95%;
  z-index: 1;
  left: 50%;
  margin-left: 250px;
}

#right {
  height: 19vh;
  margin-right: 200px;
}

.search {
   	animation: pulse 1.5s linear infinite;
}

@-webkit-keyframes "pulse" {
0% {
    transform: scale(1);
}
25% {
    transform: scale(0.95);
}
50% {
   transform: scale(0.90);
}
75% {
    transform: scale(0.95);
}
100% {
   transform: scale(1);
}
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#details {
  overflow-y: scroll;
  height: 60vh;
  padding: 5px 30px 30px 30px;
  font-family: "Press Start 2P";
  background: rgb(0, 0, 0, 0.6);
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 15px 30px 10px 30px;
  border-radius: 50px 5px 5px 50px;
}

.buttons {
  display: flex;
  gap: 2rem;
}

.result-button {
  width: 220px;
  margin-left: 2%;
}

.first {
  margin-left: 7%;
}

.result-button, .test-button {
  font-family: "Press Start 2P";
  color: white;
  background: rgb(0, 0, 0, 0.9);
  padding: 10px 10px;
  border-radius: 10px;
  text-align: center;
}

.test-button {
  width: 250px;
}

.result-button a, .test-button a {
  color: white;
  text-decoration: none;
}

.result-button a:hover, .test-button a:hover {
  color: red;
}

#details::-webkit-scrollbar {
  width: 15px;
}

#details::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 50px;
}

#details::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 10px;s
}

#details::-webkit-scrollbar-thumb {
  height: 5px;
}
