<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort Algorithms</title>
    <link rel="stylesheet" href="/static/work4.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
    <header id="header">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/work6">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">GO BACK</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div id="top">
            <img src="/static/BubbleSOrt.png" id="title" class="search">
        </div>
        <div id="container">
            <div class="buttons">
                <div class="button-container">
                    <div class="test-button"><a href="/bubblesort">BUBBLE SORT-ASCENDING</a></div>
                    <div class="test-button"><a href="/bubblesort2">BUBBLE SORT-DESCENDING</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>