<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" href="/static/contacts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
    <header id="header">
        <a class="nav-link" href="/"><img src="/static/back.png" id="back" class="back"></a>
        <img src="/static/contact.png" id="title" class="title">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/profile">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">PROFILE</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/works">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">WORKS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <img src="/static/ilex.gif" id="bg">
    <div class="icons">
        <a href="https://www.facebook.com/Alexieee.50" target="_blank"><img src="/static/Facebook.png"></a>
        <a href="https://mail.google.com/mail/u/0/" target="_blank"><img src="/static/Gmail.png"></a>
        <a href=""><img src="/static/Outlook.png"></a>
        <a href=""><img src="/static/Discord.png"></a>
    </div>
</body>
</html>