<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow">
</head>
<body>
    <header id="header">
        <a class="nav-link" href="/"><img src="/static/back.png" id="back" class="back"></a>
        <img src="/static/meet2.png" id="title" class="meet title">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/works">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">WORKS</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">CONTACTS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="profile_container">
        <div class="profile" id="charl">
            <div class="picture">
                <img src="/static/Charl.png" id="pic">
            </div>
            <div class="info">
                <h2>CHARL B. ALBON</h2>
                <h2>AGE: 19</h2>
                <h2>FAVORITE POKEMON: SCREAM TAIL</h2>
                <h2>MOTTO: "LIVE HAPPILY"</h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/alyj24" target="_blank">https://github.com/alyj24</a></h2>
            </div>
        </div>
        <div class="profile" id="alexie">
            <div class="picture">
                <img src="/static/Alexie.jpg" id="pic">
            </div>
            <div class="info">
                <h2>ALEXIE YSABEL B. ANOYA</h2>
                <h2>AGE: 20</h2>
                <h2>FAVORITE POKEMON: DRAGONITE</h2>
                <h2>MOTTO: "EME"</h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/ms-lawliet" target="_blank"> https://github.com/ms-lawliet</a></h2>
            </div>
        </div>
        <div class="profile" id="aleckxis">
            <div class="picture">
                <img src="/static/Aleckxis.jpg" id="pic">
            </div>
            <div class="info">
                <h2>ALECKXIS KATE V. BERNABE</h2>
                <h2>AGE: 20</h2>
                <h2>FAVORITE POKEMON: JIGGLYPUFF</h2>
                <h2>MOTTO: #NOTOJEEPNEYPHASEOUT </h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/aieckxis" target="_blank">https://github.com/aieckxis</a></h2>
            </div>
        </div>
        <div class="profile" id="lailanie">
            <div class="picture">
                <img src="/static/Lailanie.jpg" id="pic">
            </div>
            <div class="info">
                <h2>LAILANIE E. DELA CRUZ</h2>
                <h2>AGE: 19</h2>
                <h2>FAVORITE POKEMON: CHARMANDER </h2>
                <h2>MOTTO: "NEVER GIVE UP"</h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/laivwxyz" target="_blank"> https://github.com/laivwxyz</a></h2>
            </div>
        </div>
        <div class="profile" id="lianna">
            <div class="picture">
                <img src="/static/Lianna.jpg" id="pic">
            </div>
            <div class="info">
                <h2>LIANNA M. MARQUEZ</h2>
                <h2>AGE: </h2>
                <h2>FAVORITE POKEMON: </h2>
                <h2>MOTTO: </h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/ms-lawliet" target="_blank">https://github.com/Sample</a></h2>
            </div>
        </div>
        <div class="profile" id="cate">
            <div class="picture">
                <img src="/static/Cate.png" id="pic">
            </div>
            <div class="info">
                <h2>CATELYN JOY M. MORCO</h2>
                <h2>AGE: 20</h2>
                <h2>FAVORITE POKEMON: SYLVEON</h2>
                <h2>MOTTO: "TULOG IS LAYF"</h2>
                <h2>GITHUB ACCOUNT: <a href="https://github.com/CateMorx" target="_blank">https://github.com/CateMorx</a></h2>
            </div>
        </div>
    </div>
</body>
</html>