<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/homepage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
</head>
<body>
    <header id="header">
        <img src="/static/ditt.gif" id="icon">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/profile">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">PROFILE</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/works">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">WORKS</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">CONTACTS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <img src="/static/welcome.png" id="title" class="welcome">
    <video autoplay muted loop id="bg">
        <source src="/static/munchlax.mp4" type="video/mp4">
    </video>
    <!--<img src="/static/starter.gif" id="bg">-->
    <img src="/static/start.png" id="start">
</body>
</html>