<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queue and Deque</title>
    <link rel="stylesheet" href="/static/work3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
    <header id="header">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/works">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">WORKS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div id="top">
            <a href="/work2"><img src="/static/left.png" id="left"></a>
            <img src="/static/queue.png" id="title" class="search">
            <a href="/work4"><img src="/static/right.png" id="right"></a>
        </div>
        <div id="container">
            <div id="details">
                <h1>Objective:</h1>
                <br>
                <p>Implement Queue and De-que data structure using Linked list.</p>
                <br>
                <br>
                <h2>Instructions:</h2>
                <br>
                <p>- Integrate it to your Web Flask portfolio page.</p>
            </div>
            <div class="buttons">
                <div class="test-button"><a href="/queue">SEE QUEUE</a></div>
                <div class="test-button"><a href="/deque">SEE DEQUE</a></div>
            </div>
        </div>
    </div>
</body>
</html>