<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sorting Algorithms</title>
    <link rel="stylesheet" href="/static/work6.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
</head>
<body>
    <header id="header">
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/works">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">WORKS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="content">
        <div id="top">
            <a href="/work5"><img src="/static/left.png" id="left"></a>
            <img src="/static/sorting.png" id="title" class="search">
        </div>
        <div id="container">
            <div id="details">
                <h1>Objective:</h1>
                <br>
                <p>Research and implement the following sorting algorithms:</p>
                <br>
                <p>• Bubble sort</p>
                <p>• Selection sort</p>
                <p>• Insertion sort</p>
                <p>• Merge sort</p>
                <p>• Quicksort</p>
                <br>
                <br>
                <h2>Instructions:</h2>
                <br>
                <p>
                    Research on the python implementation and add it to you group work as final Requirements.
                    Also explain the big O complexity for each sorting Algorithm.
                </p>
                <br>
                <p>Note: you can use animation to explain/display the sorting.</p>
            </div>
            <div class="buttons">
                <div class="test-button"><a href="/bubble">SEE ANIMATION</a></div>
                <div class="test-button"><a href="/sorting_algo">VIEW IMPLEMENTATION</a></div>
            </div>
        </div>
    </div>
</body>
</html>