<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Profile</title>
    <link rel="stylesheet" href="/static/works.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow">
</head>
<body>
    <header id="header">
        <a class="nav-link" href="/"><img src="/static/back.png" id="back" class="back"></a>
        <p class="works-label">OUR WORKS</p>
        <nav id="nav-bar">
            <ul>
                <li>
                    <a class="nav-link" href="/">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">PROFILE</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">
                        <div class="pop-up">
                            <img src="/static/ball.png" class="shake" id="nav-pic">
                            <span class="pop-uptext">CONTACTS</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <img src="/static/starter.gif" id="bg">
    <div class="works-container">
        <a href="/work1">
            <div class="work flip1">
                <div class="workpop-up">
                    <span class="workpop-uptext">SEARCH ALGORITHMS</span>
                </div>
            </div>
        </a>
        <a href="/work2">
            <div class="work flip2">
                <div class="workpop-up">
                    <span class="workpop-uptext">INFIX & POSTFIX</span>
                </div>
            </div>
        </a>
        <a href="/work3">
            <div class="work flip3">
                <div class="workpop-up">
                    <span class="workpop-uptext">QUEUE & <br>DE-QUEUE</span>
                </div>
            </div>
        </a>
        <a href="/work4">
            <div class="work flip4">
                <div class="workpop-up">
                    <span class="workpop-uptext">EMPTY</span>
                </div>
            </div>
        </a>
        <a href="/work5">
            <div class="work flip5">
                <div class="workpop-up">
                    <span class="workpop-uptext">EMPTY</span>
                </div>
            </div>
        </a>
    </div>
</body>
</html>